@charset "utf-8";

@font-face{
    font-family: bebas;
    src: url(fonts/BebasNeueRegular.otf);
}
@font-face{
    font-family: bebaslight;
    src: url(fonts/BebasNeueLight.otf);
}

/*****reset*****/
html {
	box-sizing: border-box;
	font-family: sans-serif;
}
body { overflow-x: hidden; }

*, *:after, *:before { 
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5{
	font-family: bebas;
}
.aux-100{
	width: 100%;
}
/*****reset*****/
.container {
	width: 100%;
	max-width: 768px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(7, fit-content);
	grid-template-areas: 
						'header header'
						'publicidad publicidad'
						'VideoPrincipal VideoPrincipal'
						'secciones secciones'
						'edicionDigital puntosDistribucion'
						'revista revista'
						'footer footer';
}
header{
	grid-area: header;
	padding: 1em;
	text-align: center;
	color: #fff;
}
header img{
	width: 150px;
	height: auto;
}

/*****Estilos del Menu******/
.nav {
	background-color: lightsteelblue;
	grid-area: nav;
	position: fixed;
	top: 0;
	text-align: center;
	height: auto;
	width: 100%;
	transition: transform .3s ease-in;
	/*transform: translateX(-100%);*/
	/*transform: translateX(100%);*/
	transform: translateY(-100%);
	/*transform: translateY(100%);*/
}
.nav:target { transform: translate(0, 0); }

.toggle {
  font-size: 2rem;
  text-decoration: none;
  color: orangered;
}
.close, .open {
  position: absolute;
  top: .5rem;
  right: 1rem;
}
.Menu-listItem {
	border-bottom: thin solid #f16522;
	list-style-type: none;
	text-align: center;
}
.Menu-item { 
    border-top: thin solid #f16522;
    font-size: 14px;
}

/*Estilos para los links (textos del menu)*/
.Menu-link {
	padding: .5rem;
	display: block;
	color: black;
	transition: all .3s ease-out;
	text-decoration: none;
	background-color: #fff;
}

.Menu-link:hover {
	background-color: #f16522;
	color: #FFF;
}
/*****Estilos del Menu******/

.publicidad{
	background-color: #000;
	grid-area: publicidad;
	text-align: center;
}
.publicidad img{
	width: 100%;
	max-width: 300px;
}
.VideoPrincipal{
	grid-area: VideoPrincipal;
	padding: 1.5rem;
}
.VideoPrincipal iframe{
	width: 100%;
	margin: auto;
}
.secciones{
	grid-area: secciones;
}
.secciones div.containerSecciones{
	width: 100%;
	max-width: 350px;
	margin: auto;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(7, auto)
}
.secciones div.containerSecciones a figure {
	border-top: thin solid #fff;
	border-bottom: thin solid #fff;
	padding: 0;
}
.secciones div.containerSecciones a figure img{
	width: 100%;
	max-width: 350px;
	height: auto;
}
.edicionDigital{
	grid-area: edicionDigital;
	text-align: center;
	border-top: thin solid #fff;
	background-image: url(images/weekend.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.puntosDistribucion{
	grid-area: puntosDistribucion;
	text-align: center;
	border-top: thin solid #fff;
	background-image: url(images/distribucion.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
figure.weekend img{
	max-width: 200px;
}
.revista{
	grid-area: revista;
}
section.revista{
	text-align: center;
	padding: 1rem;
}
figure.portada img{
	width: 100%;
	padding: 1rem;
}
footer{
	background-color: dimgrey;
	grid-area: footer;
}
section.container-footer{
    width: 50%;
    max-width: 280px;
    margin: auto;
    padding: 10px 0 5px;
    display: flex;
    justify-content: space-around;
}
.caption3{
    width: 100%;
    height: 70px;
    background-color: #f16522;
}
.caption3 h2{
    text-align: center;
    color: #fff;
    padding: 8px 15px;
    line-height: 1.2em;
}

/***** Fondos *****/

.black{
    background: rgba(51,51,51,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(51,51,51,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
background: radial-gradient(ellipse at center, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000', GradientType=1 );
}
.gradient{
    background: rgba(0,0,0,0);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(25%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    width: 100%;
    height: 180px;
    top: 0;
}
.news{
    background-image: url(images/seccion-news.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.making{
    background-image: url(images/seccion-makingof.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.abraza{
    background-image: url(images/seccionabraza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.buencomer{
    background-image: url(images/seccion-buencomer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.fitness{
    background-image: url(images/seccion-fitness.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.entrevista{
    background-image: url(images/seccion-entrevista.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.belleza{
    background-image: url(images/seccion-belleza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/***** Media Queries *****/

@media screen and (min-width: 767px) {
.nav {
	display: none
	}
}