@charset "utf-8";

/*****reset*****/
html {
	box-sizing: border-box;
	font-family: sans-serif;
}
body { overflow-x: hidden; }

*, *:after, *:before { 
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
/*****reset*****/
.container {
	width: 100%;
	max-width: 768px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(7, fit-content);
	grid-template-areas: 
						'header header'
						'publicidad publicidad'
						'VideoPrincipal VideoPrincipal'
						'secciones secciones'
						'edicionDigital puntosDistribucion'
						'revista revista'
						'footer footer';
}
header{
	grid-area: header;
	padding: 1em;
	text-align: center;
	color: #fff;
}
header img{
	width: 150px;
	height: auto;
}

.nav {
	background-color: lightsteelblue;
	grid-area: nav;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	transition: transform .3s ease-in;
	/*transform: translateX(-100%);*/
	/*transform: translateX(100%);*/
	transform: translateY(-100%);
	/*transform: translateY(100%);*/
}
.nav:target { transform: translate(0, 0); }

.toggle {
  font-size: 2rem;
  text-decoration: none;
}
.close, .open {
  position: absolute;
  top: .5rem;
  right: 1rem;
}
.publicidad{
	background-color: #000;
	grid-area: publicidad;
	text-align: center;
}
.publicidad img{
	width: 100%;
	max-width: 300px;
}
.VideoPrincipal{
	grid-area: VideoPrincipal;
	padding: 1.5rem;
}
.VideoPrincipal iframe{
	width: 100%;
	margin: auto;
}
.secciones{
	grid-area: secciones;
}
.secciones div.containerSecciones{
	width: 100%;
	max-width: 350px;
	margin: auto;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(7, auto)
}
.secciones div.containerSecciones a figure {
	border-top: thin solid #fff;
	border-bottom: thin solid #fff;
	padding: 0;
}
.secciones div.containerSecciones a figure img{
	width: 100%;
	max-width: 350px;
	height: auto;
}
.edicionDigital{
	background-color: dodgerblue;
	grid-area: edicionDigital;
}
.puntosDistribucion{
	background-color: lightblue;
	grid-area: puntosDistribucion;
}
.revista{
	background-color: lightgray;
	grid-area: revista;
}
footer{
	background-color: dimgrey;
	grid-area: footer;
}

/***** Fondos *****/

.black{
    background: rgba(51,51,51,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(51,51,51,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
background: radial-gradient(ellipse at center, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000', GradientType=1 );
}
.news{
    background-image: url(images/seccion-news.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.making{
    background-image: url(images/seccion-makingof.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.abraza{
    background-image: url(images/seccionabraza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.buencomer{
    background-image: url(images/seccion-buencomer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.fitness{
    background-image: url(images/seccion-fitness.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.entrevista{
    background-image: url(images/seccion-entrevista.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.belleza{
    background-image: url(images/seccion-belleza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/***** Media Queries *****/

@media screen and (min-width: 767px) {
.nav {
	display: none
	}
}